#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div.stTabs.css-0.exp6ofz0 > div > div.st-bc.st-b4.st-bd.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl {
    justify-content: center;
}
#tabs-568-tabpanel-0 > div:nth-child(1){
    margin-left: 45%;
}
#tabs-1-tabpanel-0 > div:nth-child(1){
    margin-left: 45%;
}
#tabs-4-tabpanel-0 > div:nth-child(1) {
    margin-left: 45%;
}
